body{
    /* background-color: rgb(64, 63, 63); */
    background-color: black;
    text-align: center;
}

.content-center{
    margin: auto;
    margin-top: 250px;
}

.content-center img{
    width: 15%;
    height: auto;
}

#logo{
    padding-left: 50px ;
}


.content-center input{
    width: 20%;
    padding: 10px 5px;
    background-color: rgb(175, 175, 175);
    font-family: Arial, Helvetica, sans-serif;
 }

 .content-center button{
    width: 10%;
    padding: 10px 5px;
    background-color: rgb(175, 175, 175);
    font-family: Arial, Helvetica, sans-serif;

    }

    label{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(175, 175, 175);
        
    }

   #link{
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 15px
}

#submit{
    padding: 12px 32px;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #ffffff;
    opacity: 0.6;
    text-decoration: none;
    color: #040101;
    background-color: #cfb144;
}
/* 
#submit:hover{
    padding: 12px 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    opacity: 0.6;
    text-decoration: none;
    color: #040101;
    background-color: #cfb144;
    text-decoration: none;
} */
